---
import "aos/dist/aos.css";
import Navbar from "../components/Navbar";
import Footer from "../components/Footer.astro";
import SocialButtons from "../components/ContactButton";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="DJtXSV_5VSx5mRFef0v-RsxDouJfCYaaal862bJ4sO8" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 font-sans">
    <Navbar client:load />
    <main>
      <slot />
    </main>

    <!-- Floating Buttons with Framer Motion via React -->
    <SocialButtons client:load />

    <Footer />

    <script>
      import Aos from "aos";

      document.addEventListener("DOMContentLoaded", () => {
        Aos.init({
          once: true,
          duration: 400,
          easing: "ease-in-out",
        });

        const menuButton = document.getElementById("menu-button");
        const mobileMenu = document.getElementById("mobile-menu");
        const nav = document.querySelector("nav");

        menuButton?.addEventListener("click", () => {
          mobileMenu?.classList.toggle("hidden");
        });

        let lastScrollTop = 0;
        window.addEventListener("scroll", () => {
          const scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;
          if (scrollTop > lastScrollTop) {
            nav?.classList.add("hidden-nav");
          } else {
            nav?.classList.remove("hidden-nav");
          }
          lastScrollTop = scrollTop <= 0 ? 0 : scrollTop;
        });
      });
    </script>
  </body>
</html>
